option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    FLASK_APP: application.py
    FLASK_ENV: production
    PORT: 5000
    PYTHONPATH: /var/app/current
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: static/

container_commands:
  01_install_requirements:
    command: "pip install -r requirements.txt"
  02_set_permissions:
    command: |
      chmod 755 application.py
      chmod -R 755 .
  03_install_gunicorn:
    command: "pip install gunicorn" 